<div class="container mt-5 col-12">
  <div class="d-flex align-items-center">
  <h1>My page</h1>
    <%= link_to "Manage bookings", bookings_path, class: "btn btn-primario ms-3 btn-blue" %>
    <%= link_to 'Manage cars', my_cars_cars_path, class: "btn btn-primario ms-3 btn-blue" %>
    <%= link_to 'Booking requests', my_cars_bookings_path, class: "btn btn-primario ms-3 disabled " %>
  </div>
  <hr>

  <div class="mt-5 col-12">
    <h2 class="mt-3">Bookings</h2>
    <% @bookings.each do |booking| %>
      <%= render 'booking_card', booking: booking %>
    <% end %>
  </div>
</div>
