<div class="container mt-5 col-12">
  <div class="d-flex align-items-center">
  <h1>My page</h1>
    <%= link_to 'Update my cars', my_cars_cars_path, class: "btn btn-primario ms-3" %>
    <%= link_to "My bookings", bookings_path, class: "btn btn-primario ms-3" %>
    <%= link_to 'Bookings request', my_cars_bookings_path, class: "btn btn-primario ms-3 disabled" %>
  </div>
  <hr>

  <div class="mt-5 col-12">
    <% if @bookings.any? %>
      <% @bookings.each do |booking| %>
        <%= render 'booking_card', booking: booking %>
      <% end %>
    <% else %>
      <p>No requests</p>
    <% end %>
  </div>
</div>
