.banner {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 34vh 0;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), asset-url(camper-7);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 8px, 0.6);
  font-size: 80px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 8px, 0.8);
}
