.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  transition: all 0.5s;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $blue;
  }
}

.card-trip:hover {
  filter: brightness(92%);
}

.card-trip>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
}

.card-trip-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card {
  display: grid;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  grid-template-columns: 4fr 3fr;
  width: 100%;

  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    margin-right: 8px;
  }
}

.row {
  padding-left: 0 !important;
}


// CARD PRODUCT

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.card-product img {
  height: 120px;
  max-width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  display: inline;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.max-width {
  max-width: 100px;
}

// CARD MODEL

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-category-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

// Layout

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-delete {
  color: #fff;
  list-style: none;
  text-decoration: none;
  position: absolute;
  display: none;
  font-size: 24px;
  transition: all 0.1s;
}

.delete-position {
  right: 12px;
  top: 12px;

  &:hover {
    transform: scale(1.2);
  }
}

.update-position {
  right: 48px;
  top: 13px;
  font-size: 20px;

  &:hover {
    transform: scale(1.4);
  }
}


.card-category:hover .card-delete {
  display: block;
  color: $light-gray;
}
