.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  transition: all 0.5s;
  h1, h2, h3, h4, h5, h6, p {
    color: $blue;
  }
}

.card-trip:hover {
  filter: brightness(92%);
}

.card-trip>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
}

.card-trip-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card {
  display: grid;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  grid-template-columns: 4fr 3fr;
  width:100%;
  img {
    height: 100%;
    width:100%;
    object-fit: cover;
    margin-right: 8px;
  }
}

.row {
  padding-left: 0 !important;
}


// CARD PRODUCT

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.card-product img {
  height: 120px;
  max-width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  display: inline;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
