.form-box {
  padding: 32px, 16px;
  margin: 24px;
}

.form-label {
  color: $blue !important;
}

.rounded-input {
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid rgb(153,153,153);
  box-shadow: none;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);
}
