.input {
  border-color: $gray !important;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;
  border-radius: 20px;
  p {
    font-size: 12px
  };
}

.input:hover {
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3)
}

.input:focus {
  border-color: $gray;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
  background-color: $light-gray;
}

.form-control.is-valid {
  background-image: none;
}

.select.is-valid {
  border-color: none;
}

.form-select .is-valid {
  border-color: none;
}

.small-input {
  width: 150px;
}

.form-select {
  background-image: none;
  padding: 4px 8px;
}
