.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map {
  box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.2);
  border-radius: 16px;
}
