<div class="container">
  <h2 class="window-car-model"><%= car.car_model %></h2>
  <p><i class="fas fa-users"></i><%= car.capacity %></p>
  <p><%= car.description %></p>
  <p><i class="far fa-money-bill-alt"></i><%= car.price_per_day %></p>
</div>

