<% if params[:q].present? || params[:address].present? %>
  <div style="width: 100%; height: 100vh; margin: 0; padding: 0"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% else %>
  <div class="banner">
    <div class="container text-center">
      <h1 class="px-5">No Camp No Life</h1>
      <p class="px-5">Get the wheels for the adventure of your life!</p>
      <a class="btn btn-primario" href="#cars-list">Book now</a>
    </div>
  </div>
<% end %>
<div class="container mt-5">
  <div class="grid">
    <% @cars.each do |car| %>
      <div id="cars-list" class="card-trip mb-5">
        <%= render 'card_car_info', car: car %>
      </div>
    <% end %>
  </div>
</div>
